# To run the specs copy this to "credentials.yml" and update with your credentials
username: "YOUR_ACCOUNT_NUMBER_HERE"
password: "YOUR_LICENSE_KEY_HERE"
clientname: "Your Company"
use_production_url: false
